.main-container{
    nav{
        background-color: black;
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 25px 40px;
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: aquamarine;
                    color: #000;
                    transition: all 1sec;
                }
                &:last-child{
                    margin-left: auto;
                }
            }
        }
    }
}

