<section class="main-container" >
    <nav>
        <ul>
            <li routerLink="/home" >Home</li>
            <li routerLink="/home/about"  >About</li>
            <li  routerLink="/home/nav" >Nav</li>
            <li routerLink="/home/contact"  >Contact</li>
            <li  *ngIf="!isLoggedIn" routerLink="/login"  >Login</li>
            <!-- <li routerLink="/auth/signup"  >sign up</li> -->
            <li *ngIf="isLoggedIn"  (click)="signOutCLick()" >Sign Out</li>
        </ul>
    </nav>
</section>