<section class="main-container w-12 flex justify-content-center ">
    <div class="w-5 m-auto surface-200	 box-shadow-2 p-3 ">
        <h2 class="text-4xl" >Login </h2>
        <form [formGroup]="form">
            <div class="mt-2">
                <input class="my-3 p-2 w-full" pInputText type="text" formControlName="email" placeholder="Enter Email" >
                <input class="my-3 p-2 w-full" pInputText type="text" formControlName="password" placeholder="Password" >

            </div>
            <div class="flex justify-content-end" >
            <span>Create New Account</span><span routerLink="/signup" class="cursor-pointer text-blue-500">Click Here</span>

            </div>
            <button class="mt-2 py-2 px-4 p-button-success " pButton label="Login" (click)="submit()"  ></button>
        </form>
    </div>
</section>