<section class=" main-container  w-12 flex justify-content-center ">
    <div class="w-5 m-auto surface-200	 box-shadow-2 p-3 ">
        <h2 class="text-4xl">Sign Up </h2>

        <form [formGroup]="form">
            <div class="mt-2">

                <input pInputText class="my-3 p-2 w-full" placeholder="Enter Email" formControlName="email">
                <input pInputText class="my-3 p-2 w-full" placeholder="Enter Password" formControlName="password">
            </div>
            <div class="flex justify-content-end">
                <span>No Account</span>
                <span routerLink="/login" class="cursor-pointer text-blue-500">
                    Login
                </span>
            </div>
            <button pButton class="py-2 px-4 p-button-success" [raised]="true" label="Signup"
                (click)="signUp()"></button>
        </form>

    </div>
</section>